/***
define custom vars etc. here, before bootstrap SCSS
***/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'global.scss';

/***
Now it is OK to import Bootstrap stuff
***/

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

:root {
  --background-color: #fff;
  --background-color-highlight: #f4f4f4;
  --background-color-alt: #333;
  --primary-color: #fa6980;
  --primary-brand-color: #fa6980;
  --border-color: #ebeded;
  --border-color-alt: #eee;

  --nav-font-color: #333;
  --nav-font-color-alt: #888;

  --font-color: #333;
  --font-color-alt: #888;
  --font-color-image: #fff;

  --grid-gap: 2rem;


  // footer 
  $footer-bg-color: #A6ADB4;
  --footer-background-color: #{$footer-bg-color};
  --footer-font-color: #fff;
  --footer-links-color: #e0e0e0;  
  --footer-links-hover-color: #fa6980;
  --footer-border-color: #bbb;
  --search-box-background-color: #{lighten($footer-bg-color, 3%)};

  --hover-transition-speed: 0.1s;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size:0.9rem;
}

/*
  note: needs to be in global since BS doesn't assign the scoped element ID to the inner span (which contains the icon).
  todo: look into why this is.
*/
nav.navbar.navbar-light button.navbar-toggler span.navbar-toggler-icon {
  background: url(/img/shared/menu-icon.svg);
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: left;
}


/*
  hover animation effect for all article images
*/
.articles ul li picture img {
  transition: all calc(var(--hover-transition-speed) * 3) ease-in-out;
}
.articles ul li:hover picture img {
  filter: saturate(140%);
  filter: brightness(120%);
  filter: contrast(120%);
  transition: all calc(var(--hover-transition-speed) * 3) ease-in-out;
}

.news-articles {
  header{
    display:flex;
    height:6rem;
  }
  h1{
    flex: 0 1 70%;
    font-size:1.6rem;
    text-transform: uppercase;
    font-weight:800;
    align-self:center;
    margin: 0;
  }
  .pagination{
    flex: 0 1 30%;
    justify-content: flex-end;
    align-self:center;

    img{
      width:10px;
      height:10px;
      cursor: pointer;

      &:nth-child(1){
        opacity: 0.5;
        margin-right:2em;
      }
    }
  }
}