/***
define custom vars etc. here, before bootstrap SCSS
***/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'global.scss';

/***
Now it is OK to import Bootstrap stuff
***/

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

:root {
  --background-color: #fff;
  --background-color-alt: #333;
  --primary-color: #fa6980;
  --primary-brand-color: #fa6980;
  --border-color: #ebeded;
  --nav-font-color: #333;
  --nav-font-color-alt: #888;

  --grid-gap: 1rem;


  // footer 
  --footer-font-color: #fff;
  --footer-links-color: #e0e0e0;  
  --footer-links-hover-color: #fa6980;
  --footer-border-color: #bbb;
}

$theme-colors: (
  'primary': #0074d9,
  'danger': #ff4136
);



body {
  font-family: 'Open Sans', sans-serif;
  font-size:0.9rem;
}


button:focus {
  outline: none;
}

/*
  note: needs to be in global since BS doesn't assign the scoped element ID to the inner span (which contains the icon).
  todo: look into why this is.
*/
nav.navbar.navbar-light button.navbar-toggler span.navbar-toggler-icon {
  background: url(/img/shared/menu-icon.svg);
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: left;
}
