@function v($var) {
  @return var(--#{$var});
}

html {
  box-sizing: border-box;
  // font-size: 62.5%;
  font-size:90%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

ul{  
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -ms-padding-start: 0;
  padding-left: 0;
  min-width:100px;
}

ul li {
  list-style-type: none;
  text-align:left;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align:left;
}