html {
    box-sizing: border-box;
    // font-size: 62.5%;
    // font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: arial;
    // font-size: 1.4rem;
    --test: #ff99cc;
}