@function v($var) {
  @return var(--#{$var});
}

html {
  box-sizing: border-box;
  // font-size: 62.5%;
  font-size:150%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}